.city{
    display:none;
}
html,body{
    background:#55C1E6
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#tableContainer {
   max-height:   800px;
    overflow: scroll;
}
#control{
    display: inline;
}
div{
    display: inline-block;
}
#login {
    display: block;
}
